<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	cropToFit="false"

>
  <image imageURL="images/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	thumbURL="thumbs/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	linkURL="images/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Dehaze Jon Pumice_MG_0342 v4_1 (1).JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Yellowstone NP has some of the darkest skies in the country, and it shows in this shot on the shore of Yellowstone Lake.]]></caption>
  </image>
  <image imageURL="images/Eben Jon IMG_4772-denoise-low-light.jpg"
	thumbURL="thumbs/Eben Jon IMG_4772-denoise-low-light.jpg"
	linkURL="images/Eben Jon IMG_4772-denoise-low-light.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Eben Jon IMG_4772-denoise-low-light.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Trickling water forms massive "ice caves" in the deep winter of Michigan's Upper Peninsula, reflecting and refracting the rich light of a candle lantern.]]></caption>
  </image>
  <image imageURL="images/Screen Shot 2022-01-07 at 2.42.49 PM.jpg"
	thumbURL="thumbs/Screen Shot 2022-01-07 at 2.42.49 PM.jpg"
	linkURL="images/Screen Shot 2022-01-07 at 2.42.49 PM.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Desktop/Screen Shot 2022-01-07 at 2.42.49 PM.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Illuminating the soaring spans of Double Arch in Arches NP with a headlamp.]]></caption>
  </image>
  <image imageURL="images/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	thumbURL="thumbs/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	linkURL="images/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/24 BDJ Indian Basin Camp B18A8329-HDR.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[From a backpacking trip with my dad and brother in the Wind River Range, WY.]]></caption>
  </image>
  <image imageURL="images/09 String Lake Jon Bridge View to West Denoise.jpg"
	thumbURL="thumbs/09 String Lake Jon Bridge View to West Denoise.jpg"
	linkURL="images/09 String Lake Jon Bridge View to West Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/09 String Lake Jon Bridge View to West Denoise.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The night sky and the peaks of the Tetons rise over a candlelit footbridge in Grand Teton NP, WY.]]></caption>
  </image>
  <image imageURL="images/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	thumbURL="thumbs/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	linkURL="images/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Wetterhorn S View IMG_9276-Pano (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[I ponder a panorama of Colorado's San Jaun range, near the summit of 14er Wetterhorn Peak.]]></caption>
  </image>
  <image imageURL="images/Jon Sand Dune Wind IMG_9562 (1).jpg"
	thumbURL="thumbs/Jon Sand Dune Wind IMG_9562 (1).jpg"
	linkURL="images/Jon Sand Dune Wind IMG_9562 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Sand Dune Wind IMG_9562 (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[I straddle the wind-swept line between light and darkness on a dune in Great Sand Dunes NP, CO.]]></caption>
  </image>
  <image imageURL="images/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	thumbURL="thumbs/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	linkURL="images/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Hidden Farm IMG_5069 w Jon from 5072.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A candlelit journey through the dark winter forests and prairies of south-central WI.]]></caption>
  </image>
  <image imageURL="images/Screen Shot 2022-01-07 at 2.39.26 PM.jpg"
	thumbURL="thumbs/Screen Shot 2022-01-07 at 2.39.26 PM.jpg"
	linkURL="images/Screen Shot 2022-01-07 at 2.39.26 PM.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Desktop/Screen Shot 2022-01-07 at 2.39.26 PM.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Camping under the stars just outside of Yellowstone NP, WY.]]></caption>
  </image>
  <image imageURL="images/26 Green River Lakes B18A8885 Denoise.jpg"
	thumbURL="thumbs/26 Green River Lakes B18A8885 Denoise.jpg"
	linkURL="images/26 Green River Lakes B18A8885 Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/26 Green River Lakes B18A8885 Denoise.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[This old homestead near Green River Lakes, WY, made for a spooky scene with a candle lantern and an overcast, moonlit sky.]]></caption>
  </image>
  <image imageURL="images/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	thumbURL="thumbs/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	linkURL="images/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My brother and I posed for this Milky Way shot at 11,000 feet in Titcomb Basin, WY.]]></caption>
  </image>
  <image imageURL="images/BarryJonHiddenLake.jpg"
	thumbURL="thumbs/BarryJonHiddenLake.jpg"
	linkURL="images/BarryJonHiddenLake.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/BarryJonHiddenLake.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My dad and I perch above Hidden Lake in Glacier NP, MT.]]></caption>
  </image>
</juiceboxgallery>