<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	cropToFit="false"

>
  <image imageURL="images/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg"
	thumbURL="thumbs/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg"
	linkURL="images/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg">
    <title><![CDATA[Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/32 Squaretop v2 B18A9017-standard.jpg"
	thumbURL="thumbs/32 Squaretop v2 B18A9017-standard.jpg"
	linkURL="images/32 Squaretop v2 B18A9017-standard.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/32 Squaretop v2 B18A9017-standard.jpg">
    <title><![CDATA[32 Squaretop v2 B18A9017-standard]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/26 Green River Lakes B18A8885 Denoise.jpg"
	thumbURL="thumbs/26 Green River Lakes B18A8885 Denoise.jpg"
	linkURL="images/26 Green River Lakes B18A8885 Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/26 Green River Lakes B18A8885 Denoise.jpg">
    <title><![CDATA[26 Green River Lakes B18A8885 Denoise]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	thumbURL="thumbs/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	linkURL="images/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/24 BDJ Indian Basin Camp B18A8329-HDR.jpg">
    <title><![CDATA[24 BDJ Indian Basin Camp B18A8329-HDR]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	thumbURL="thumbs/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	linkURL="images/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg">
    <title><![CDATA[20 Titcomb MW  Titcomb MW  B18A6470 Denoise]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14 SchwabacherSunset-HDR-Pano.jpg"
	thumbURL="thumbs/14 SchwabacherSunset-HDR-Pano.jpg"
	linkURL="images/14 SchwabacherSunset-HDR-Pano.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/14 SchwabacherSunset-HDR-Pano.jpg">
    <title><![CDATA[14 SchwabacherSunset-HDR-Pano]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/09 String Lake Jon Bridge View to West Denoise.jpg"
	thumbURL="thumbs/09 String Lake Jon Bridge View to West Denoise.jpg"
	linkURL="images/09 String Lake Jon Bridge View to West Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/09 String Lake Jon Bridge View to West Denoise.jpg">
    <title><![CDATA[09 String Lake Jon Bridge View to West Denoise]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	thumbURL="thumbs/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	linkURL="images/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Dehaze Jon Pumice_MG_0342 v4_1 (1).JPG">
    <title><![CDATA[Dehaze Jon Pumice_MG_0342 v4_1 (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/02 Composite B18A5566-5567.jpg"
	thumbURL="thumbs/02 Composite B18A5566-5567.jpg"
	linkURL="images/02 Composite B18A5566-5567.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/02 Composite B18A5566-5567.jpg">
    <title><![CDATA[02 Composite B18A5566-5567]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Wild Goose Silver Efex _MG_1198 BW with wrap (1).jpg"
	thumbURL="thumbs/Wild Goose Silver Efex _MG_1198 BW with wrap (1).jpg"
	linkURL="images/Wild Goose Silver Efex _MG_1198 BW with wrap (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Wild Goose Silver Efex _MG_1198 BW with wrap (1).jpg">
    <title><![CDATA[Wild Goose Silver Efex _MG_1198 BW with wrap (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Tower_MG_9139 Panorama Mercator Edit Crop.jpg"
	thumbURL="thumbs/Tower_MG_9139 Panorama Mercator Edit Crop.jpg"
	linkURL="images/Tower_MG_9139 Panorama Mercator Edit Crop.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Tower_MG_9139 Panorama Mercator Edit Crop.jpg">
    <title><![CDATA[Tower_MG_9139 Panorama Mercator Edit Crop]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sRGB Jon w Light IMG_2572 (2).jpg"
	thumbURL="thumbs/sRGB Jon w Light IMG_2572 (2).jpg"
	linkURL="images/sRGB Jon w Light IMG_2572 (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/sRGB Jon w Light IMG_2572 (2).jpg">
    <title><![CDATA[sRGB Jon w Light IMG_2572 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Spider Web Glacier Aug16 SpiderWebSunlight (1).jpg"
	thumbURL="thumbs/Spider Web Glacier Aug16 SpiderWebSunlight (1).jpg"
	linkURL="images/Spider Web Glacier Aug16 SpiderWebSunlight (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Spider Web Glacier Aug16 SpiderWebSunlight (1).JPG">
    <title><![CDATA[Spider Web Glacier Aug16 SpiderWebSunlight (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg"
	thumbURL="thumbs/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg"
	linkURL="images/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg">
    <title><![CDATA[sml Jon Devils Bridge 01072018 IMG_0543 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg"
	thumbURL="thumbs/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg"
	linkURL="images/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg">
    <title><![CDATA[small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg"
	thumbURL="thumbs/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg"
	linkURL="images/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg">
    <title><![CDATA[small cropHandies Sunrise West View IMG_8470-Pano_1 copy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	thumbURL="thumbs/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	linkURL="images/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Wetterhorn S View IMG_9276-Pano (1).jpg">
    <title><![CDATA[Jon Wetterhorn S View IMG_9276-Pano (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jon Sand Dune Wind IMG_9562 (1).jpg"
	thumbURL="thumbs/Jon Sand Dune Wind IMG_9562 (1).jpg"
	linkURL="images/Jon Sand Dune Wind IMG_9562 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Sand Dune Wind IMG_9562 (1).jpg">
    <title><![CDATA[Jon Sand Dune Wind IMG_9562 (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Jon Black Canyon View IMG_7581 (2).jpg"
	thumbURL="thumbs/Jon Black Canyon View IMG_7581 (2).jpg"
	linkURL="images/Jon Black Canyon View IMG_7581 (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Black Canyon View IMG_7581 (2).jpg">
    <title><![CDATA[Jon Black Canyon View IMG_7581 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Handies Barry Jon South IMG_8507.jpg"
	thumbURL="thumbs/Handies Barry Jon South IMG_8507.jpg"
	linkURL="images/Handies Barry Jon South IMG_8507.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Handies Barry Jon South IMG_8507.jpg">
    <title><![CDATA[Handies Barry Jon South IMG_8507]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Eben Jon IMG_4772-denoise-low-light.jpg"
	thumbURL="thumbs/Eben Jon IMG_4772-denoise-low-light.jpg"
	linkURL="images/Eben Jon IMG_4772-denoise-low-light.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Eben Jon IMG_4772-denoise-low-light.jpg">
    <title><![CDATA[Eben Jon IMG_4772-denoise-low-light]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Eben Jon IMG_4763-denoise-low-light.jpg"
	thumbURL="thumbs/Eben Jon IMG_4763-denoise-low-light.jpg"
	linkURL="images/Eben Jon IMG_4763-denoise-low-light.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Eben Jon IMG_4763-denoise-low-light.jpg">
    <title><![CDATA[Eben Jon IMG_4763-denoise-low-light]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/BarryJonHiddenLake.jpg"
	thumbURL="thumbs/BarryJonHiddenLake.jpg"
	linkURL="images/BarryJonHiddenLake.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/BarryJonHiddenLake.jpg">
    <title><![CDATA[BarryJonHiddenLake]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg"
	thumbURL="thumbs/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg"
	linkURL="images/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg">
    <title><![CDATA[3 Big Spring Canyon 05152018 IMG_2154 (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Cone IMG_4962,63-denoise-low-light-composite (2).jpg"
	thumbURL="thumbs/Cone IMG_4962,63-denoise-low-light-composite (2).jpg"
	linkURL="images/Cone IMG_4962,63-denoise-low-light-composite (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Cone IMG_4962,63-denoise-low-light-composite (2).jpg">
    <title><![CDATA[Cone IMG_4962,63-denoise-low-light-composite (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).jpg"
	thumbURL="thumbs/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).jpg"
	linkURL="images/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).JPG">
    <title><![CDATA[Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg"
	thumbURL="thumbs/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg"
	linkURL="images/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg">
    <title><![CDATA[Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg"
	thumbURL="thumbs/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg"
	linkURL="images/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg">
    <title><![CDATA[8 Prickly Pear CO Natl Mon IMG_5721 (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5 Z Double Arch IMG_2557 MilkyWay.jpg"
	thumbURL="thumbs/5 Z Double Arch IMG_2557 MilkyWay.jpg"
	linkURL="images/5 Z Double Arch IMG_2557 MilkyWay.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/5 Z Double Arch IMG_2557 MilkyWay.jpg">
    <title><![CDATA[5 Z Double Arch IMG_2557 MilkyWay]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Pingora Dipper IMG_1786-78-Composite.jpg"
	thumbURL="thumbs/Pingora Dipper IMG_1786-78-Composite.jpg"
	linkURL="images/Pingora Dipper IMG_1786-78-Composite.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Pingora Dipper IMG_1786-78-Composite.jpg">
    <title><![CDATA[Pingora Dipper IMG_1786-78-Composite]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	thumbURL="thumbs/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	linkURL="images/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Hidden Farm IMG_5069 w Jon from 5072.jpg">
    <title><![CDATA[Hidden Farm IMG_5069 w Jon from 5072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>