<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	cropToFit="false"

>
  <image imageURL="images/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg"
	thumbURL="thumbs/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg"
	linkURL="images/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Firehole Big Dipper B18A5645-47DeNoiseAI-low-light 2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The Big Dipper over the Firehole River, Yellowstone NP, WY.]]></caption>
  </image>
  <image imageURL="images/32 Squaretop v2 B18A9017-standard.jpg"
	thumbURL="thumbs/32 Squaretop v2 B18A9017-standard.jpg"
	linkURL="images/32 Squaretop v2 B18A9017-standard.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/32 Squaretop v2 B18A9017-standard.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[An overcast sky begins to break around the peaks of the Wind River Range, near Green River Lakes, WY.]]></caption>
  </image>
  <image imageURL="images/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg"
	thumbURL="thumbs/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg"
	linkURL="images/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/sml Jon Devils Bridge 01072018 IMG_0543 (2).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Looking out atop Devils Bridge, near Sedona, AZ.]]></caption>
  </image>
  <image imageURL="images/26 Green River Lakes B18A8885 Denoise.jpg"
	thumbURL="thumbs/26 Green River Lakes B18A8885 Denoise.jpg"
	linkURL="images/26 Green River Lakes B18A8885 Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/26 Green River Lakes B18A8885 Denoise.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[This old homestead near Green River Lakes, WY, made for a spooky scene with a candle lantern and an overcast, moonlit sky.]]></caption>
  </image>
  <image imageURL="images/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	thumbURL="thumbs/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	linkURL="images/24 BDJ Indian Basin Camp B18A8329-HDR.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/24 BDJ Indian Basin Camp B18A8329-HDR.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[From a backpacking trip with my dad and brother in the Wind River Range, WY.]]></caption>
  </image>
  <image imageURL="images/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	thumbURL="thumbs/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	linkURL="images/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/20 Titcomb MW  Titcomb MW  B18A6470 Denoise.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My brother and I posed for this Milky Way shot at 11,000 feet in Titcomb Basin, WY.]]></caption>
  </image>
  <image imageURL="images/14 SchwabacherSunset-HDR-Pano.jpg"
	thumbURL="thumbs/14 SchwabacherSunset-HDR-Pano.jpg"
	linkURL="images/14 SchwabacherSunset-HDR-Pano.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/14 SchwabacherSunset-HDR-Pano.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[We caught a spectacular sunset over the Tetons at Schwabacher's Landing, within Grand Teton NP.]]></caption>
  </image>
  <image imageURL="images/09 String Lake Jon Bridge View to West Denoise.jpg"
	thumbURL="thumbs/09 String Lake Jon Bridge View to West Denoise.jpg"
	linkURL="images/09 String Lake Jon Bridge View to West Denoise.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/09 String Lake Jon Bridge View to West Denoise.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The night sky and the peaks of the Tetons rise over a candlelit footbridge in Grand Teton NP, WY.]]></caption>
  </image>
  <image imageURL="images/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	thumbURL="thumbs/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	linkURL="images/Dehaze Jon Pumice_MG_0342 v4_1 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Dehaze Jon Pumice_MG_0342 v4_1 (1).JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Yellowstone NP has some of the darkest skies in the country, and it shows in this shot on the shore of Yellowstone Lake.]]></caption>
  </image>
  <image imageURL="images/02 Composite B18A5566-5567.jpg"
	thumbURL="thumbs/02 Composite B18A5566-5567.jpg"
	linkURL="images/02 Composite B18A5566-5567.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/02 Composite B18A5566-5567.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The bacterial mats of Grand Prismatic Spring in Yellowstone NP are just as spectacular at nighttime, producing intricate patterns among mirror-like water.]]></caption>
  </image>
  <image imageURL="images/Spider Web Glacier Aug16 SpiderWebSunlight (1).jpg"
	thumbURL="thumbs/Spider Web Glacier Aug16 SpiderWebSunlight (1).jpg"
	linkURL="images/Spider Web Glacier Aug16 SpiderWebSunlight (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Spider Web Glacier Aug16 SpiderWebSunlight (1).JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[While hiking in Glacier NP, MT, I noticed this sun-struck spiderweb and at first thought it was a CD suspended in midair!]]></caption>
  </image>
  <image imageURL="images/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg"
	thumbURL="thumbs/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg"
	linkURL="images/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/small IMG_1358-1364-Pano-HDR-Composite-denoiselow-light (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Comet NEOWISE passed close to Earth in July 2020. Here it soars over the Wisconsin Capitol building and the skyline of Madison, WI.]]></caption>
  </image>
  <image imageURL="images/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg"
	thumbURL="thumbs/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg"
	linkURL="images/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/small cropHandies Sunrise West View IMG_8470-Pano_1 copy.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My dad and I got up very early in the morning to be atop Colorado 14er Handies Peak for sunrise.]]></caption>
  </image>
  <image imageURL="images/Handies Barry Jon South IMG_8507.jpg"
	thumbURL="thumbs/Handies Barry Jon South IMG_8507.jpg"
	linkURL="images/Handies Barry Jon South IMG_8507.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Handies Barry Jon South IMG_8507.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Enjoying a chilly, windy sunrise from Handies Peak, CO.]]></caption>
  </image>
  <image imageURL="images/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	thumbURL="thumbs/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	linkURL="images/Jon Wetterhorn S View IMG_9276-Pano (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Wetterhorn S View IMG_9276-Pano (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[I ponder a panorama of Colorado's San Jaun range, near the summit of 14er Wetterhorn Peak.]]></caption>
  </image>
  <image imageURL="images/Jon Sand Dune Wind IMG_9562 (1).jpg"
	thumbURL="thumbs/Jon Sand Dune Wind IMG_9562 (1).jpg"
	linkURL="images/Jon Sand Dune Wind IMG_9562 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Sand Dune Wind IMG_9562 (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[I straddle the wind-swept line between light and darkness on a dune in Great Sand Dunes NP, CO.]]></caption>
  </image>
  <image imageURL="images/Jon Black Canyon View IMG_7581 (2).jpg"
	thumbURL="thumbs/Jon Black Canyon View IMG_7581 (2).jpg"
	linkURL="images/Jon Black Canyon View IMG_7581 (2).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Jon Black Canyon View IMG_7581 (2).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Looking across the 2,500 foot-deep chasm of the Black Canyon of the Gunnison, CO.]]></caption>
  </image>
  <image imageURL="images/Eben Jon IMG_4772-denoise-low-light.jpg"
	thumbURL="thumbs/Eben Jon IMG_4772-denoise-low-light.jpg"
	linkURL="images/Eben Jon IMG_4772-denoise-low-light.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Eben Jon IMG_4772-denoise-low-light.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Trickling water forms massive "ice caves" in the deep winter of Michigan's Upper Peninsula, reflecting and refracting the rich light of a candle lantern.]]></caption>
  </image>
  <image imageURL="images/Eben Jon IMG_4763-denoise-low-light.jpg"
	thumbURL="thumbs/Eben Jon IMG_4763-denoise-low-light.jpg"
	linkURL="images/Eben Jon IMG_4763-denoise-low-light.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Eben Jon IMG_4763-denoise-low-light.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Shooting the ice caves at night reminds one of exploring the Mines of Moria from Lord of the Rings.]]></caption>
  </image>
  <image imageURL="images/Screen Shot 2022-01-07 at 2.37.44 PM.jpg"
	thumbURL="thumbs/Screen Shot 2022-01-07 at 2.37.44 PM.jpg"
	linkURL="images/Screen Shot 2022-01-07 at 2.37.44 PM.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Desktop/Screen Shot 2022-01-07 at 2.37.44 PM.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[In other places the freezing water constructs intricate ice cones, like portals to a subterranean world.]]></caption>
  </image>
  <image imageURL="images/BarryJonHiddenLake.jpg"
	thumbURL="thumbs/BarryJonHiddenLake.jpg"
	linkURL="images/BarryJonHiddenLake.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/BarryJonHiddenLake.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My dad and I perch above Hidden Lake in Glacier NP, MT.]]></caption>
  </image>
  <image imageURL="images/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg"
	thumbURL="thumbs/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg"
	linkURL="images/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/3 Big Spring Canyon 05152018 IMG_2154 (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The sprawling gorges and far-off mountains of Canyonlands NP, UT, beckons me to adventure.]]></caption>
  </image>
  <image imageURL="images/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).jpg"
	thumbURL="thumbs/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).jpg"
	linkURL="images/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Unknown Rivlet Glacier Aug16 CascadeFalls_MG_1579 (1).JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Waterfalls snake down many mountainsides of Glacier NP, MT.]]></caption>
  </image>
  <image imageURL="images/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg"
	thumbURL="thumbs/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg"
	linkURL="images/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Kayak Sunset McDaniel Park McFarland 120217 IMG_8123-HDR.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A well-placed kayak provided foreground interest for this blazing sunset over Lake Waubesa, WI.]]></caption>
  </image>
  <image imageURL="images/5 Z Double Arch IMG_2557 MilkyWay.jpg"
	thumbURL="thumbs/5 Z Double Arch IMG_2557 MilkyWay.jpg"
	linkURL="images/5 Z Double Arch IMG_2557 MilkyWay.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/5 Z Double Arch IMG_2557 MilkyWay.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[One of the two massive spans of Double Arch in Arches NP, UT, frames the brightest section of the Milky Way.]]></caption>
  </image>
  <image imageURL="images/Screen Shot 2022-01-07 at 2.42.49 PM.jpg"
	thumbURL="thumbs/Screen Shot 2022-01-07 at 2.42.49 PM.jpg"
	linkURL="images/Screen Shot 2022-01-07 at 2.42.49 PM.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Desktop/Screen Shot 2022-01-07 at 2.42.49 PM.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Illuminating the soaring spans of Double Arch in Arches NP with a headlamp.]]></caption>
  </image>
  <image imageURL="images/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg"
	thumbURL="thumbs/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg"
	linkURL="images/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/8 Prickly Pear CO Natl Mon IMG_5721 (1).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Life blooms fruitfully in even the harshest deserts of Colorado.]]></caption>
  </image>
  <image imageURL="images/Pingora Dipper IMG_1786-78-Composite.jpg"
	thumbURL="thumbs/Pingora Dipper IMG_1786-78-Composite.jpg"
	linkURL="images/Pingora Dipper IMG_1786-78-Composite.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Pingora Dipper IMG_1786-78-Composite.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Jagged peaks in the remote Cirque of the Towers, WY, reach for a flawless night sky.]]></caption>
  </image>
  <image imageURL="images/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	thumbURL="thumbs/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	linkURL="images/Hidden Farm IMG_5069 w Jon from 5072.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Downloads/Hidden Farm IMG_5069 w Jon from 5072.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A candlelit journey through the dark winter forests and prairies of south-central WI.]]></caption>
  </image>
  <image imageURL="images/Screen Shot 2022-01-07 at 2.26.34 PM.jpg"
	thumbURL="thumbs/Screen Shot 2022-01-07 at 2.26.34 PM.jpg"
	linkURL="images/Screen Shot 2022-01-07 at 2.26.34 PM.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Desktop/Screen Shot 2022-01-07 at 2.26.34 PM.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Perfect conditions of a cloudless sky and glassy water at St. Mary's Lake, Glacier NP, just before a passing boat disrupted the tranquility.]]></caption>
  </image>
  <image imageURL="images/Screen Shot 2022-01-07 at 2.39.26 PM.jpg"
	thumbURL="thumbs/Screen Shot 2022-01-07 at 2.39.26 PM.jpg"
	linkURL="images/Screen Shot 2022-01-07 at 2.39.26 PM.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Barry14/Desktop/Screen Shot 2022-01-07 at 2.39.26 PM.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Camping under the stars just outside of Yellowstone NP, WY.]]></caption>
  </image>
</juiceboxgallery>